* {
  background-color:rgba(255, 255, 255, 0.943);
  font-family: "Cormorant Garamond", serif;
  font-weight: 450;
  font-style: normal;
  color: rgb(0, 0, 0);
}


p {
  font-size:x-large;
  padding-top: -10px;
  font-stretch: expanded;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  color: #000000;
}

form {
  font-size: x-large;
}

.Tale {
  z-index: 1;
    opacity: 20px;
    background-color: rgba(0,0,0,.5);
  color: #fff;
  backdrop-filter:blur(5px);
}